<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- First create the folder, views/partials, to store partials, e.g. _navbar.handlbars. -->
  {{> _bootstrapCSS}}

  <title>MEN-Stack Demo</title>
</head>

<body>
  {{> _navbar}}

  <div class='container'>
    {{{body}}}
  </div>

  {{> _jQueryPopperAndBootstrapJS}}
</body>

</html>