<div class="jumbotron text-center">
  <h1 class="display-3">abcdefg</h1>
  <p class="lead">Write down your idea</p>
  <a href="/ideas/add" class="btn btn-primary btn-lg">Add idea</a>
</div>
<h4>Static Content is set in the frontend, index.handlebar.</h4>
<h4>{{dynamicContent}}</h4>